Source: postgresql-readynas
Section: contrib
Priority: extra
Maintainer: Andrew Cook <ariscop@gmail.com
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.postgresql.org/

Package: postgresql-readynas
Architecture: all
Depends: ${misc:Depends}, readynasos (>= 6.0.5~T1271), postgresql-9.1
Description: Postgresql server for readynas
