<Application resource-id="sample2"><!-- 'resource-id' must be AppName -->
  <Name>Sample2</Name><!-- Any desciptive name, upto 48 chars -->
  <Author>NETGEAR Inc.</Author><!-- Authers name. upto 48 chars -->
  <Version>1.0.0-p1</Version><!-- Version -->
  <RequireReboot>0</RequireReboot><!-- If non-zero, it indicate reboot is required. -->
  <ConfigURL>https://localhost/apps/config.html</ConfigURL><!-- 'localhost' will be replaced by framework JS. -->
  <LaunchURL>http://localhost:7081/index.html</LaunchURL><!-- 'localhost' will be replaced by framework JS. -->
  <ReservePort>7081</ReservePort>
  <DebianPackage>sample2</DebianPackage>
  <ServiceName/><!-- no service required -->
  <Description lang="en-us">This is sample application. This will do anything meaningful. Just show static page for Config/Lauch URL. Therefor no service is associated, and cannot turn the service on and off.</Description>
  <Description lang="ja">このサンプルは、アーキテクチャ非依存のサンプルです。Config/Launch ボタンで静的なページを開きます。したがって、このサンプルにはサービスが関連づけられてなく、サービスのオン・オフはできません 。</Description>
</Application>
